.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    /* box-sizing: content-box; */
}

.profile-container img {
    width: 30vw;
    height: auto;
    /* background-size: cover; */
    /* border: 1px solid red; */
    /* object-fit: cover; */
}

.profile-container div {
    width: 50vw;
    /* border: 1px solid red; */
}

.text-box {
    padding: 2rem;
    height: 40vh;
    background-color: azure; 
    display: grid;
    grid-template-rows: 5rem auto 3rem;
    flex-direction: column; 
    box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.75);  
}

.text-box h1 {
    font-size: 45px;
}

.text-box p {
    font-size: 18px;
}

.text-box img {
    width: 50px;
}

.text-box div {
    padding-top: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}
