@import url("../styles/jtm-style.css");
@import url("../styles/my-projects.css");

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first-part {
  height: 100vh;
  background-image: url(../assets/main-section-images/background-skew.svg);
  background-size: cover;
}
 