@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.my-projects {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
}

img {
  background-color: #ffffff;
  max-height: 50%;
  height: auto;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.card-info > span {
  margin: 0em 0.5em;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.mini-logo {
  width: 20px;
  height: 30px;
}

.work {
  margin-top: 5vh;
  margin-bottom: 2vh;
  margin-left: 10vw;
  font-size: 32px;
  text-align: left;
  margin-bottom: 4vh;
}

.cards {
  margin-left: 10vw;
  margin-right: 10vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  display: flex;
  margin-bottom: 1.5em;
  margin-right: 2em;
  flex-direction: column;
  -webkit-box-shadow: 0px 1px 5px 1px #777;
  box-shadow: 1px #7777;
  height: 40vh;
  width: 20vw;
}

.info-title {
  margin: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.card:hover {
  transform: scale(1.12);
  -webkit-box-shadow: 0px 1px 5px 1px #00ffc2;
  box-shadow: 1px #00ffc2;
}

@media screen and (max-width: 800px) {
  .work {
    text-align: center;
    margin-left: 0;
  }

  .card {
    width: 30vw;
  }
}

/* First Section */
.about {
  background-image: url(../assets/main-section-images/about-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.portrait-container {
  width: 80vw;
}

.main-image {
  max-width: 450px;
  float: left;
  background-position: center;
  margin: 0 20px 20px 0;
}

.profile-description {
  background-color: #fff;
  margin-top: 200px;
  box-shadow: 10px 10px 18px -12px rgba(0, 0, 0, 0.75);
}

.profile-description h1 {
  translate: -438px -163px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.profile-description h2 {
  padding: 0 0 20px 471px;
  font-size: 35px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.profile-description p {
  padding-right: 20px;
  font-size: 18px;
  line-height: 25px;
}

.profile-icons {
  text-align: end;
  padding: 80px 30px 20px;
}

.profile-icons a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .main-image {
    translate: -25px -25px;
    margin: 0;
    width: 350px;
  }

  .profile-description h2 {
    padding-left: 275px;
  }

  .profile-description h1 {
    translate: 0px -61px;
  }

  .profile-description p {
    padding: 0 20px 40px;
  }

  .profile-icons {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .profile-description h1 {
    translate: 0px -120px;
  }

  .profile-description h2 {
    translate: 0 -24px;
  }

  .profile-description p {
    padding: 0 20px 84px;
  }
}

@media screen and (max-width: 710px) {
  .about {
    background-image: url(../assets/main-section-images/about-background-mobile.png);
    background-size: cover;
    height: 50vh;
  }

  .portrait-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    border: none;
  }

  .profile-description {
    background-color: none;
    margin-top: 0;
    box-shadow: none;
  }

  .main-image {
    translate: 0;
    width: 80vw;
    align-self: center;
  }

  .profile-description h1 {
    text-align: center;
    translate: 0;
    font-size: 40px;
  }

  .profile-description h2 {
    text-align: center;
    padding: 20px;
    translate: 0;
  }

  .profile-description p {
    padding: 0 20px;
  }

  .profile-icons {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .profile-icons img {
    width: 50px;
  }
}

@media screen and (max-width: 500px) {
  .cards {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .card {
    width: 70vw;
    margin-right: 0;
  }
}

.third-part {
  height: 60vh;
  width: 100%;
  background-color: #00ffc2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
}

.third-part h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.third-part p {
  margin-bottom: 10px;
}

/* Path: styles/Olu-style.css */

.contact-icons {
  padding-left: 0px;
  padding-top: 20px;
}

.contact-icons img {
  width: 30px;
  height: 30px;
  margin: 0px;
  background-color: transparent;
}
.text-section img {
  width: 30px;
  height: 30px;
  margin: 0px;
  background-color: transparent;
}

.contact-image {
  padding: 20px;
  max-height: 350px;
  padding-bottom: 0px;
}

.contact-image img {
  width: 100%;
  min-height: 300px;
  max-height: 420px;
  object-fit: cover;
  object-position: 30%;
}

.text-section {
  padding: 20px;
  min-height: 350px;
  line-height: 1.4;
  padding-bottom: 0px;
}

a {
  text-decoration: none;
  color: #000;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .contact-image img {
    min-width: 295px;
    height: 390px;
  }

  .contact-image {
    padding-left: 0px;
  }

  .third-part {
    margin-top: 490px;
    height: 50vh;
  }

  .text-section {
    max-height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .third-part {
    flex-direction: column;
    margin-top: 2020px;
    padding: 0;
    height: 67vh;
  }
  .contact-image img {
    width: 100%;
    min-width: 180px;
    height: 420px;
  }

  .contact-image {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 15px;
  }

  .phone-div > img,
  .email-div > img {
    display: none;
  }

  .text-section {
    min-height: 300px;
  }

  .contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 0px;
  }

  .contact-icons img {
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 0;
  }

  .third-part h1 {
    font-size: 24px;
    margin: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 412px) {
  .main-image {
    margin-top: 323px;
  }

  .my-projects {
    margin-top: 225px;
  }

  .third-part {
    height: 83vh;
    margin-top: 1640px;
  }
}
