@import url(../styles/jtm-style.css);

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.first-part {
  height: 100vh;
  background-image: url(../assets/main-section-images/background-skew.svg);
  background-size: cover;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-projects {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
}

img {
  background-color: #ffffff;
  max-height: 50%;
  height: auto;
}
.card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.card-info > span {
  margin: 0em 0.5em;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}
.mini-logo {
  width: 20px;
  height: 30px;
}
.work {
  margin-top: 5vh;
  margin-bottom: 2vh;
  margin-left: 10vw;
  font-size: 32px;
  text-align: left;
}
.cards {
  margin-left: 10vw;
  margin-right: 10vw;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  margin-bottom: 1.5em;
  margin-right: 2em;
  flex-direction: column;
  -webkit-box-shadow: 0px 1px 5px 1px #777;
  box-shadow: 1px #7777;
  height: 40vh;
  width: 20vw;
}

.info-title {
  margin: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.card:hover {
  transform: scale(1.12);
  -webkit-box-shadow: 0px 1px 5px 1px fuchsia;
  box-shadow: 1px fuchsia;
}

@media screen and (max-width: 800px) {
  .work {
    text-align: center;
    margin-left: 0;
  }
  .card {
    width: 30vw;
  }
}

@media screen and (max-width: 500px) {
  .cards {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .card {
    width: 70vw;
    margin-right: 0;
  }

  .profile-container img {
    /* width: 30%; */
    /* height: 100vh; */
    /* background-size: cover; */
    /* border: 1px solid red; */
    /* float: left; */
    /* scale: 120%; */
  }
}

.third-part {
  height: 100vh;
  background-color: rgb(28, 89, 111);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efe8e8;
  font-size: 24px;
  padding: 30px;
}

.third-part h1 {
  font-size: 34px;
  margin-bottom: 20px;
}

.third-part p {
  margin-bottom: 20px;
}

/* Path: styles/Olu-style.css */

.contact-icons {
  padding-left: 0px;
  padding-top: 20px;
}

.contact-icons img,
.text-section img {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  background-color: transparent;
}

.contact-image {
  padding: 20px;
}

.contact-image img {
  width: 800px;
  height: 650px;
}

.text-section {
  padding: 20px;
  min-height: 650px;
  line-height: 1.4;
}

.text-section > p > span {
  text-align: center;
  padding-bottom: 30px;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .third-part {
    flex-direction: column-reverse;
    /* justify-content: center; */
    /* align-items: center; */
  }
}
